src/
tests-report/
.nyc_output
.editorconfig
.gitignore
yarn-error.log
yarn.lock
.idea/
.flowconfig
flow-typed/
.eslintrc
test/
.eslintignore
.eslintrc.yml
.npmignore
.travis.yml
*.tmp-*
circle.yml
travis.yml
*.md
coverage/
jest.config.js
jestEnvironment.js
